<div class="header-wrapper">
  <header>
    <h1>MySoundApp</h1>
    <div class="search-field-container">
      <form class="searchbox" action="">
        <input class="search" type="text" placeholder="Take a gander...">
        <input class="submit" type="submit" value="Search">
      </form> 
    </div>
  </header>
</div>